.streamSelectorBar{
    display:inline-block;
    position:relative;
    width: 875px;
    height: 220.13px;
    white-space: nowrap;
}

.streamSelector{
    position:relative;
    width: 264px;
    height: 220px;
    margin-right: 27px;
    cursor:pointer;
    float:left;
}

.streamSelectorButton{
    float:left;
    position:relative;
    width: 129px;
    height:20.13px;
    left:67.5px;
    top:2px;
    cursor:pointer;
}