.notificationButton
{
    position: relative;
    width: 30px;
    height: 34px;   
    color:#E2DAE9;
    margin-top: 2px;
    left: 8px;
}

.closeButton
{
    flex: 1;
    color:#FFFFFF !important;
    float:right !important;
    right:10px;
}

.clearNotificationsButton
{
    top:-10px;
    float:right;
    right:10px;
    font-family: Roboto !important; 
    font-style: normal !important; 
    font-weight: 600 !important; 
    color: #FFFFFF !important; 
    padding-left:80px !important; 
    padding-right:12px !important; 
    padding-bottom:0px;
    text-transform: none !important;
}

.notificationButton:hover
{
    cursor: pointer;
    color: #7b4da1;
}

.notificationDiv{
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 80px;
    border-radius: 40px;
}

.notificationTitleDiv{
    height:40px !important; 
}

.notificationTitle{
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 80px;
    border-radius: 40px;
}

.menuPaper{
    background-color: #101011 !important;  
    color:#101011;
}


.menuRoot{
    background-color: #101011 !important; 
    color:#101011; 
}

.menuList{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    color: #FFFFFF;
    background-color: #101011;  
}

.dateStyle{
    font-family: Roboto !important; 
    font-style: bold !important; 
    font-weight: 900 !important; 
    color: #d62cac !important;
    font-size: 14px !important;
    line-height: 14px !important;
}
.menuTitle
{
    position:relative;
    left: 12px;
}
.requestButton
{
    top:40px;
    float:right !important;
}

.userProfileCircle
{
    display:inline-block;
    margin-right: 30px;
    width: 40px;
    height: 40px; 
    border-radius: 20px;
}