.navigationBar
{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    background-color: rgb(106, 38, 166);
    box-shadow: 0px 2px 5px rgb(50, 50, 50);
 
}

.navItem
{
    float: left;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    

}

.modalTest
{
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 100px;
    color: red;
    background-color: red;
    position: fixed;
    top: 200px;
    left: 200px;
 
}

.signInButton
{
    position: absolute;
    width: 57px;
    height: 21px;
    top: 17px;
    right: 160px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;

    color: #F0D6FF;
}
.signInButton:hover
{
    cursor: pointer;
}

.signUpButton
{
    position: absolute;
    width: 64px;
    height: 21px;
    top: 17px;
    right: 75px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;

    color: #F0D6FF;
}
.signUpButton:hover
{
    cursor: pointer;
}


.navBarSeperator
{
    position: absolute;
    width: 19px;
    height: 0px;
    top: 25px;
    
    border: 1px solid #D1D1D1;
    transform: rotate(90deg);    
}

.navProfileButton
{
    margin-top: 2px;
    width: 50px;
    height: 50px;
    
    float: right;
    border-radius: 25px;
}
.navProfileButton:hover
{
    cursor: pointer;
}

.navProfileMenu
{
    box-sizing: border-box;
    
    float: right;
    position: relative;
    width: 155px;
    height: 319px;
    z-index: 20;
    background: rgba(199, 125, 255, 0.75);
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;    
}

.navUserComponent
{
    box-sizing: border-box;
    display: block;
    padding-right: 10px;
    float: right;
    position: relative;
    top: 3px;
}

.navNotificationButton
{
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 17px;
    top: 18px;
    left: 72px;

}
.navNotificationButton:hover
{
    cursor: pointer;
}

.navMessageButton
{
    box-sizing: border-box;
    position: absolute;
    width: 18px;
    height: 13px;
    top: 19px;
    left: 30px;
}
.navMessageButton:hover
{
    cursor: pointer;
}

.siincIcon
{
    position: absolute;
    width: 108px;
    height: 67px;
    left: 19px;
    top: -3px;
    background: url("../../assets/NavBar/NavBarSiincLogo.png");   
}

.navCreateStreamButton
{
    position: absolute;
    width: 26px;
    height: 17px;
    left: 14.5%;
    top: 35%;
    background: url("../../assets/NavBar/NavBarCreateStream.png");   
}

.navSearchContainer
{
    position: absolute;
    width: 399px;
    height: 38px;
    left: 21.3%;
    top: 11px;
    background: #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;  
}
.navSearchInput
{
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: -1px;
    height: 38px;
    width: 81%;
    background-color: #EFEFEF;
    border: 0px solid #8f5dac;
    border-radius: 14px 0px 0px 14px;
    padding: 4px;
    padding-left: 10px;
    margin: 0px;

    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
}
.navSearchInput:hover
{
    height: 42px;
    left: -3px;
    top: -2px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 14px 0px 0px 14px;
}
.navSearchInput:focus
{
    height: 42px;
    left: -3px;
    top: -2px;
    background-color: white;
    outline: none;
    border: 2px solid rgb(56, 3, 97);
    border-radius: 14px 0px 0px 14px;
}

.navClearButtonContainer
{
    box-sizing: border-box;
    position: absolute;
    background-size: cover;      
    background-color: #EFEFEF;
    width: 9.5%;
    height: 38px;
    left: 322px;
}
.navClearButton
{
    position: absolute;
    background: url("../../assets/NavBar/NavBarClearButton.png");
    width: 14px;
    height: 14px;
    top: 12px;
    left: 13px;
}
.navSearchButtonContainer
{
    box-sizing: border-box;
    position: relative;
    background-size: cover;      
    background-color: #EFEFEF;
    padding: 4px;
    width: 9.5%;
    height: 38px;
    left: 362px;
    border-radius: 0px 14px 14px 0px;
}
.navSearchButton
{
    position: absolute;
    background: url("../../assets/NavBar/NavBarSearchButton.png");   
    width: 19px;
    height: 19px;
    top: 10px;
    left: 8px;
    border:none;
}

.navSearchButto:focus{
    border:none;
}
.navSearchButto:active{
    border:none;
}
.navSearchButto:visited{
    border:none;
}

.navSearchSeperator
{
    position: absolute;
    width: 23px;
    height: 0px;
    left: 349px;
    top: 18px;
    z-index: 1;
    border: 1px solid #AFAFAF;
    transform: rotate(90deg);
}



