.navigationBar
{
    position: absolute;
    width: 100%;
    height: 90px;
    left: 15.2%;
    top: 0%;
    bottom: 91.21%;
    z-index: 0;
    background: #10002B;
 
}

.navItem
{
    float: left;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    

}

.modalTest
{
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 100px;
    color: red;
    background-color: red;
    position: fixed;
    top: 200px;
    left: 200px;
 
}

.signInButton
{
    position: absolute;
    width: 50px;
    height: 21px;
    top: 34px;
    right: 140%;

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
    opacity: 0.85;
}
.signInButton:hover
{
    cursor: pointer;
}

.navProfileButton
{
    margin-top: 30px;
    margin-right: 20px;
    width: 30px;
    height: 30px;

    float: right;
    border-radius: 25px;
}
.navProfileButton:hover
{
    cursor: pointer;
    box-shadow: 0 0 10px #E2DAE9;
}

.navProfileMenu
{
    box-sizing: border-box;
    float: right;
    position: absolute;
    width: 183px;
    height: 348px;
    z-index: 20;
    right: 0px;
    background: #101011;
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.navUserComponent
{
    box-sizing: border-box;
    display: block;
    float: right;
    position: relative;
    right: 15%;
}

.navSearchContainer
{
    position: absolute;
    width: 399px;
    height: 40px;
    right: 24%;
    top: 25px;
}

.navSearchInput
{
    box-sizing: border-box;
    position: absolute;
    left: -5px;
    height: 38px;
    width: 81%;
    background-color: #251A37;
    border: 0px solid #8f5dac;
    border-radius: 14px 0px 0px 14px;
    padding: 4px;
    padding-left: 10px;
    margin: 0px;

    font-family: Roboto;
    font-style: thin;
    font-size: 18px;
    font-weight: 0;
    line-height: 21px;
    color: #AFAFAF;


}
.navSearchInput:hover
{
    height: 42px;
    width: 399px;
    left: -6px;
    top: -2px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 14px;
}

.navSearchInput:focus
{
    height: 42px;
    width: 399px;
    left: -6px;
    top: -2px;
    background-color: #251A37;
    outline: none;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 14px;

    color: #AFAFAF;
}

.navClearButtonContainer
{
    box-sizing: border-box;
    position: absolute;
    background-size: cover;      
    background-color: #251A37;
    width: 9.5%;
    height: 38px;
    left: 312px;
}

.navClearButtonContainer:hover
{
    cursor: pointer;
}

.navClearButton
{
    position: absolute;
    background: url("../../assets/NavBar/NavBarClearButton.png");
    width: 14px;
    height: 14px;
    top: 12px;
    left: 13px;
    border:none;
}

.navClearButton:hover
{
    cursor: pointer;
}

.navSearchButtonContainer
{
    box-sizing: border-box;
    position: relative;
    background-size: cover;      
    background-color: #251A37;
    padding: 4px;
    width: 9.5%;
    height: 38px;
    left: 350px;
    border-radius: 0px 14px 14px 0px;
}

.navSearchButtonContainer:hover
{
    cursor: pointer;
}

.navSearchButton
{
    position: absolute;
    background: url("../../assets/NavBar/NavBarSearchButton.png");   
    width: 19px;
    height: 19px;
    top: 10px;
    left: 8px;
    border:none;
}

.navSearchButton:hover
{
    cursor: pointer;
}

.navSearchButton:focus{
    border:none;
}
.navSearchButton:active{
    border:none;
}
.navSearchButton:visited{
    border:none;
}

.navSearchSeperator
{
    position: absolute;
    width: 23px;
    height: 0px;
    left: 338px;
    top: 18px;
    z-index: 1;
    border: 1px solid #AFAFAF;
    transform: rotate(90deg);
}



