.navProfileMenuPic
{
    margin-top: 30px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    
    float: right;
    border-radius: 25px;
}

.navProfileMenuPic:hover
{
    cursor: pointer;
}

.navProfileMenuStatusText
{
    position: absolute;
    width: 31px;
    height: 12px;
    left: 7.5%;
    top: 48px;
    margin: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    opacity: 0.8;
}

.navProfileMenuOnlineStatusIndicator
{
    position: absolute;
    width: 6px;
    height: 6px;
    top: 25%;
    left: 105%;
    background: #06fa06;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    
}

.navProfileMenuNameText
{
    position: absolute;
    width: 100px;
    height: 18px;
    left: 7.5%;
    top: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    color: #FFFFFF;
    opacity: 0.8;
    
}

.navProfileMenuOnlineText
{
    position: absolute;
    width: 35px;
    height: 14px;
    left: 7.5%;
    top: 76px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.8;
}

.navProfileMenuRankingText
{
    position: absolute;
    width: 45px;
    height: 14px;
    left: 7.5%;
    top: 55px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    line-height: 60px;
    color: #FFFFFF;
    opacity: 0.8;
}

.navProfileMenuBreak
{
    position: absolute;
    width: 149px;
    height: 1px;
    left: 14px;
    background-color: #FFFFFF;
    border-radius: 70px;
    opacity: 0.3;
}

.navProfileMenuStarContainer
{
    position: absolute;
    width: 50px;
    height: 10px;
    right: 11%;
    top: 80px;
}

.navProfileMenuRankLeftHalf
{
    background: #FFFFFF;
    float: left;
    height: 10px;
    width: 5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    opacity: 0.7;
}
.navProfileMenuRankRightHalf
{
    background: #FFFFFF;
    float: left;
    height: 10px;
    width: 5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.7;
}

.navProfileMenuMyChannelDiv, .navProfileMenuFriendsDiv, .navProfileMenuFavoritesDiv, .navProfileMenuSubscribedDiv, .navProfileMenuSettingsDiv, .navProfileMenuLogoutDiv
{
    position: absolute;
    width: 83%;
    height: 7%;
    border-radius: 5px;
}
.navProfileMenuMyChannelDiv:hover, .navProfileMenuFriendsDiv:hover, .navProfileMenuFavoritesDiv:hover, .navProfileMenuSubscribedDiv:hover, .navProfileMenuSettingsDiv:hover, .navProfileMenuLogoutDiv:hover
{
    background: rgba(120, 120, 120, 0.20);
    cursor: pointer;
}
.navProfileMenuMyChannelText, .navProfileMenuFriendsText, .navProfileMenuFavoritesText, .navProfileMenuSubscribedText, .navProfileMenuSettingsText, .navProfileMenuLogoutText
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    top: 6px;
    left: 33px;
}

.navProfileMenuMyChannelIcon
{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
}
.navProfileMenuMyChannelText
{
    position: absolute;
    width: 65px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.8;
}
.navProfileMenuMyChannelDiv
{
    position: absolute;
    left: 7.5%;
    top: 37%;   
}

.navProfileMenuFriendsIcon
{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 2px;
}
.navProfileMenuFriendsText
{
    position: absolute;
    width: 65px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.8;
}
.navProfileMenuFriendsDiv
{
    position: absolute;
    left: 7.5%;
    top: 47.2%;   
}

.navProfileMenuFavoritesIcon
{
    position: absolute;
    width: 24px;
    height: 22px;
    top: 2px;
}
.navProfileMenuFavoritesText
{
    position: absolute;
    width: 65px;
    height: 14px;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.8;
}
.navProfileMenuFavoritesDiv
{
    position: absolute;
    left: 7.5%;
    top: 57.4%;
}

.navProfileMenuSettingsIcon
{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
}
.navProfileMenuSettingsText
{
    position: absolute;
    width: 65px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.8;
    
}
.navProfileMenuSettingsDiv
{
    position: absolute;
    left: 7.5%;
    top: 68%;
}


.navProfileMenuLogoutIcon
{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 1px;
}
.navProfileMenuLogoutText
{
    position: absolute;
    width: 65px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    opacity: 0.8;
}
.navProfileMenuLogoutDiv
{
    position: absolute;
    left: 7.5%;
    top: 87%;
}

.link
{
    text-decoration: none;
    color: inherit;
}