.hackyOffPageElement {
    position: absolute;
    bottom: -20px;
    display: block;
    height: 10px;
    width: 10px;
  }
  
.searchResults{
      height: 500px;
  }

.filterBreak
{
    position: relative;
    align-self: flex-start;
    background-color: #FFFFFF;
    border-radius: 70px;
    width: 70%;
    opacity: 0.3;
    margin-left: 0px;
}
 .noResults{
     font-size: 15px;
     color: #FFFFFF;
     opacity: 0.4;
 }

 .scrollableDivFullPage{
    position:relative;
    display: block;
    height:100vh;
    overflow-y: auto !important;
    max-width:600px;
 }

 .scrollableDivUsers{
    position:relative;
    display: block;
    max-height:30vh;
    overflow-y: auto !important;
    max-width:600px;
 }

 .scrollableDivStreams{
    position:relative;
    display: block;
    max-height:80vh;
    overflow-y: auto !important;
 }
