.sidebar
{
    position: absolute;
    width: 254px;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    background-color: #1C0D36;

    border-right: 2px solid #493D5E;
}

.siincIcon
{
    position: absolute;
    width: 86px;
    height: 46px;
    left: 18px;
    top: 22px;
    background: url("../../assets/NavBar/NavBarSiincLogo.png");   
}

.sidebarContent
{
    position: absolute;
    width: 254px;
    height: 100%;
    margin-top:60px;
    left: 15px;
}

.sidebarTitle
{
    margin-bottom:2px;
}

.currentStream
{
    width:180px;
    overflow: hidden;
    margin-bottom:2px;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    cursor:pointer;
    float:left;
}

.currentStreamDiv
{
    width:100%;
    display:inline-block;
}

.closeCurrentStreamBtn
{
    display:block;
    float:right;
    margin-right: 35px;
    height: 20px;
    width:30px;
    border:none;
    background-position: center center;
    background-clip:padding-box;
    background-size:cover;
    background: url("../../assets/sideBar/cancel_presentation-black-18dp.svg") no-repeat;
    cursor:pointer;
}

.closeCurrentStreamBtn:focus
{
    outline:none;
}

.navCreateStreamButton
{
    position: relative;
    width: 34px;
    height: 30px;
    margin-top: 32px;
    left: 200px;
    color: #E2DAE9;
}

.navCreateStreamButton:hover
{
    cursor: pointer;
    color: #7b4da1;
}

.navCreateStreamButton:focus
{
    outline:none;
}

.streamerCircle
{
    display:relative;
    margin-top: 2px;
    width: 24x;
    height: 24px;  
    float: left;
    border-radius: 12px;
}

.friend
{
    margin-top:5px;
    margin-left: 15px;
    width:180px;
    overflow: hidden;
    margin-bottom:2px;
    white-space: nowrap;
    text-overflow:ellipsis;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    cursor:pointer;
    float:left;
}
.friendDiv
{
    margin-top:10px;
    height: 30px;  
}