.sidebar
{
    position: fixed;
    width: 254px;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    z-index: 0;
    background-color: #1C0D36;

    border-right: 2px solid #493D5E;
}

.siincIcon
{
    position: absolute;
    width: 86px;
    height: 46px;
    left: 18px;
    top: 22px;
    background: url("../../assets/NavBar/NavBarSiincLogo.png");   
}