.signInDiv
{
    top: 135px;
    position: absolute;
    width: 600px;
}

.usernameDiv
{
    position: relative;
    top: 25px;
}

.emailDiv
{
    position: relative;
    top: 70px;
}

.passwordDiv
{
    position: relative;
    top: 70px;
}

.signUpPasswordDiv
{
    position: relative;
    top: 115px;
}

.confirmPasswordDiv
{
    position: relative;
    top: 160px;
}

.formText
{

    position: relative;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    left: 20px;
    top:10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    color: #F0D6FF;

}

.inputDiv
{ 

    top:10px;
    position:relative;
    width: 100%;
    text-align: center;
}

.inputBox{
    top: 10px;
    border:none;
    position: relative;
    width: 94%;
    height: 44px;
    padding: 0px;
    background: #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #AFAFAF;
}

.inputBox:focus
{
    box-shadow: 0px 1px 4px #AFAFAF;
    outline-width: 0ch;
    border-radius: 14px;
}

.secretInputBox{
    top: 10px;
    border:none;
    position: relative;
    width: 94%;
    height: 44px;
    padding: 0px;
    background: #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #AFAFAF;
    -webkit-text-security: disc;
}

.secretInputBox:focus
{
    box-shadow: 0px 1px 4px #AFAFAF;
    outline-width: 0ch;
    border-radius: 14px;
}

.signInButtonDiv
{
    height: 5px;
    top:80px;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
}
.signInButton
{
    display:block;
    border:none;
    position: relative;
    height: 38px;
    width:94%;
    top: 90px;
    background: #8D31D8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #F0D6FF;
    cursor:pointer;
}

.signInButton:hover
{
    color: #8D31D8;
    background-color: #F0D6FF;
}

.signUpButton
{
    display:block;
    border:none;
    position: relative;
    height: 38px;
    width:94%;
    top: 175px;
    background: #8D31D8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #F0D6FF;
    cursor:pointer;
}

.signUpButton:hover
{
    color: #8D31D8;
    background-color: #F0D6FF;
}

.signUpButton:disabled
{
    color: #c0bbc4;
    background-color: #706b74;
    cursor:default;
}


.authDiv
{
    top:175px;
    position: relative;
    display:block;
    width: 100%;
    align-items: center;
    text-align:center;
    justify-content: center;
    
}

.googleAuth
{
    margin-top: 20px;
    display:block;
    border:none;
    position: relative;
    height: 38px;
    width:94%;
    top: 50px;
    margin-left: 20px;
    background: #EFEFEF;
    background-image: url("../../assets/google-icon.svg");
    background-repeat: no-repeat;
    background-size:28px 28px;
    background-position-x: 30%;
    background-position-y: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #AFAFAF;
    cursor:pointer;
}

.googleAuth:hover
{
    color: #8D31D8;
    background-color: #F0D6FF;
}

.twitchAuth
{
    margin-top: 20px;
    display:block;
    border:none;
    position: relative;
    height: 38px;
    width:94%;
    top: 50px;
    margin-left: 20px;
    background: #EFEFEF;
    background-image: url("../../assets/TwitchGlitchPurple.svg");
    background-repeat: no-repeat;
    background-size:28px 28px;
    background-position-x: 30%;
    background-position-y: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #3C096C;
    cursor:pointer;
    align-items: center;
}

.twitchAuth:hover
{
    color: #8D31D8;
    background-color: #F0D6FF;
}

.facebookAuth
{
    margin-top: 20px;
    display:block;
    border:none;
    position: relative;
    height: 38px;
    width:94%;
    top: 50px;
    margin-left: 20px;
    background: #3B5998;
    background-image: url("../../assets/facebook-icon.png");
    background-repeat: no-repeat;
    background-size:28px 28px;
    background-position-x: 30%;
    background-position-y: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #EFEFEF;
    cursor:pointer;
}

.facebookAuth:hover
{
    color: #8D31D8;
    background-color: #F0D6FF;
}

.line{
    position: relative;
    display:block;
    top: 40px;
    width: 93%; 
    left: 20px;
    text-align: center; 
    border-bottom: 2px solid #26044C; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    font-family: 'Roboto', sans-serif;
 } 
 
.lineClear{ 
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    color: #BAA3C8;
     background:#3C096C; 
     padding:0 10px; 
 }

 .errorMessage
 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    color: #BAA3C8;
    position: absolute;
    float:bottom;
    right:20px;
 }
