.signingBox
{
    position: relative;
    width: 600px;
    height: 718px;  
    border-radius: 10px;
    border-style: none;
}

.titleBox{
    position: relative;
    top:28px;
    width: 100%;
    text-align:center;
    background-color: #10002B;
    height: 63px;
}

.titleDiv
{
    
    position: relative;
    top: 8px;
    width: 100%;
    color: #AFAFAF;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 36px;
    display: block;
    text-align: center;
}

.subTitleDiv
{
    position: absolute;
    width: 147px;
    height: 28px;
    left: 226px;
    top: 60px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #AFAFAF;

}
