.signInDiv
{
    top: 80px;
    position: absolute;
    width: 600px;
    height: 550px;
    z-index: 10;
}

.usernameDiv
{
    position: relative;
    top: 25px;
}

.emailDiv
{
    position: relative;
    top: 85px;
}

.passwordDiv
{
    position: relative;
    top: 70px;
}

.signUpPasswordDiv
{
    position: relative;
    top: 140px;
}

.confirmPasswordDiv
{
    position: relative;
    top: 200px;
}

.formText
{

    position: relative;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    left: 20px;
    top:10px;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    color: #AFAFAF;

}

.inputDiv
{ 

    top:10px;
    position:relative;
    width: 100%;
    text-align: center;
}

.inputBox{
    top: 40px;
    border:none;
    position: relative;
    width: 85.76%;
    height: 44px;
    padding: 0px;
    background: #251A37;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #AFAFAF;
}

.inputBox:focus
{
    box-shadow: 0px 1px 4px #AFAFAF;
    outline-width: 0ch;
    border-radius: 3px;
}

.secretInputBox{
    top: 40px;
    border:none;
    position: relative;
    width: 85.76%;
    height: 44px;
    padding: 0px;
    background: #251A37;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #AFAFAF;
    -webkit-text-security: disc;
}

.secretInputBox:focus
{
    box-shadow: 0px 1px 4px #AFAFAF;
    outline-width: 0ch;
    border-radius: 3px;
}

.signInButtonDiv
{
    height: 5px;
    top:80px;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
}
.signInButton
{
    display:block;
    border:none;
    position: relative;
    height: 38px;
    width:33.6%;
    top: 112px;
    background: #3C096C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #E2DAE9;
    cursor:pointer;
}

.signInButton:hover
{
    color: #E2DAE9;
    background-color: #5B10A3;
}

.signInButton:focus
{
    outline: none;
}

.signUpButton
{
    display:block;
    border:none;
    position: relative;
    height: 38px;
    width:33.6%;
    top: 270px;
    background: #3C096C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #E2DAE9;
    cursor:pointer;
}

.signUpButton:hover
{
    color: #E2DAE9;
    background-color: #5B10A3;
}

.signUpButton:disabled
{
    color: #c0bbc4;
    background-color: #706b74;
    cursor:default;
}

.signUpButton:focus
{
    outline: none;
}


.logInDiv
{
    top:50px;
    position: relative;
    display:block;
    width: 100%;
    align-items: center;
    text-align:center;
    justify-content: center;
    
}

.googleAuth
{
    margin-top: 20px;
    display:block inline;
    border:none;
    position: relative;
    height: 109px;
    width: 152px;
    top: 44px;
    margin-left: 40px;
    background: #EFEFEF;
    background-image: url("../../assets/google-icon.svg");
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position-x: 50%;
    background-position-y: 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 20;
    font-size: 20px;
    color: #747474;
    cursor:pointer;
    padding-top: 60px;
}

.googleAuth:hover
{
    color: #5B10A3;
    background-color: #E2DAE9;
}

.twitchAuth
{
    margin-top: 20px;
    display:block inline;
    border:none;
    position: relative;
    height: 109px;
    width: 152px;
    top: 44px;
    margin-left: 40px;
    background: #EFEFEF;
    background-image: url("../../assets/TwitchGlitchPurple.svg");
    background-repeat: no-repeat;
    background-size:45px 45px;
    background-position-x: 50%;
    background-position-y: 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 20;
    font-size: 20px;
    color: #3C096C;
    cursor:pointer;
    padding-top: 60px;
}

.twitchAuth:hover
{
    color: #5B10A3;
    background-color: #E2DAE9;
}

.facebookAuth
{
    margin-top: 20px;
    display:block inline;
    border:none;
    position: relative;
    height: 109px;
    width: 152px;
    top: 44px;
    margin-left: 32px;
    background: #EFEFEF;
    background-image: url("../../assets/Facebook-logo.png");
    background-repeat: no-repeat;
    background-size: 85px 60px;
    background-position-x: 50%;
    background-position-y: 25%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 20;
    font-size: 20px;
    color: #3B5998;
    cursor:pointer;
    padding-top: 60px;
}

.facebookAuth:hover
{
    color: #5B10A3;
    background-color: #E2DAE9;
}

.line{
    position: relative;
    display:block;
    top: 40px;
    width: 93%; 
    left: 20px;
    text-align: center; 
    border-bottom: 2px solid #26044C; 
    line-height: 0;
    margin: 10px 0 20px; 
    font-family: 'Roboto', sans-serif;
 } 
 
.lineClear{ 
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    color: #BAA3C8;
    background:#10002B; 
    padding:0 10px; 
 }

 .errorMessage
 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    color: #AFAFAF;
    position: absolute;
    float:bottom;
    top: 72px;
    right:20px;
 }

 .signupLine
{
    position: absolute;
    width: 326px;
    height: 21px;
    left: 137px;
    top: 500px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
