.signingBox
{
    position: relative;
    width: 600px;
    height: 718px;  
    border-radius: 10px;
}

.titleBox{
    position: relative;
    top:28px;
    width: 100%;
    text-align:center;
    background-color: #10002B;
    height: 63px;
}

.titleDiv
{
    
    position: relative;
    top: 8px;
    width: 100%;
    color: #AFAFAF;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 36px;
    display: block;
    text-align: center;
}


.selectorBar
{
    float: none;
    position: relative;
    top: 40px;
    margin:0 auto;
    height:30px;
    width: 93%;
    display: block;
    border-bottom: 2px solid #26044C;
}

.selectorButton
{
    top: 30px;
    left:20px;
    width:80px;
    height:30px;
    border:none;
    background-color:#3C096C;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    display: inline-block;
    text-align: center;
    color: #F0D6FF;
    border-top-left-radius:7px ;
    border-top-right-radius:7px ;
    cursor:pointer;
}

.selectorButton:focus-visible
{
    background-color: #8D31D8;
    border:none;
    outline:none;
}

.selectorButton:focus
{
    background-color: #8D31D8;
    border:none;
    outline:none;
}


.selectorButton:hover
{
    border:none;
    background-color: #8D31D8;
}

.selectorButton:visited
{
    border:none;
    background-color: #8D31D8;
}

.selectorButton:active
{
    border:none;
    background-color: #8D31D8;
}
