.signingBox
{
    position: relative;
    width: 600px;
    height: 718px;  
    border-radius: 20px;
}

.titleBox{
    position: relative;
    top:28px;
    width: 100%;
    text-align:center;
    background-color: #8D31D8;
    height: 63px;
}

.titleDiv
{
    position: relative;
    top: 5px;
    width: 100%;
    color: #F0D6FF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    display: block;
    text-align: center;
}


.selectorBar
{
    position: relative;
    top: 30px;
    left: 10px;
    height:30px;
    width: 100%;
    display: inline-block;
}

.selectorButton
{
    float: left;
    top: 30px;
    left:20px;
    border:none;
    background-color:#3C096C;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    color: #F0D6FF;
}