body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    background: #0B001E;
    color: #FFFFFF;
}

.clearfix {
    clear: both;
}

.b:hover {
    opacity: 0.9;
}

a {
    display: inline-block;
}

.mt40 {
    margin-top: 40px;
}

.headStream{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.titleMatch{
    margin-bottom: 5px;
    font-size: 25px;
}

.matchPeople{
    margin-bottom: 5px;
    margin-top: 0px;
    
}

.notActive {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
  }

.profilePhoto {
    position: relative;
    margin-left:40px;
    height: 264px;
    width: 264px;
    border-radius: 160px;
}

.streamThumbnail{
    margin-top: 5px;
    width: 40%;
}

.aboutContent {
    font-family: Roboto;
    opacity: 0.7;
    line-height: 24px;
    width: 613px;
    height: 92px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

p {
    line-height: 27px;
}

section {
    overflow: hidden;
}

.content{
    font-size: 20px;
}

span {
    display: inline-block;
}

label {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.name {
    font-size: 38px;
    position: relative;
    top: 6px;
    font-family: Roboto;
    font-weight: bold;
    opacity: 0.7;
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #2aa72c;
    margin: 0px 10px;
}

.live {
    color: white;
    padding: 2px 11px;
    font-size: 14px;
    background: #d63729;
    border-radius: 12px;
    font-family: Roboto;
    cursor: pointer;
}

.star {
    float: right;
    margin-top: 16px;
}

.starImg {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.number {
    font-size: 18px;
    line-height: 28px;
    font-family: Roboto;
    color: #FFFFFF;
    opacity: 0.7;
}

.addFavorites{
    height: 24px;
    width: 24px;
    border:none;
    float: left;
    margin-right: 5px;
    background-image: url("../../assets/favorites.svg");
    cursor: pointer;
}

.addFriends{
    height: 24px;
    width: 24px;
    border:none;
    float: left;
    margin-right: 5px;
    background-image: url("../../assets/person.svg");
    fill: #FFFFFF;
    cursor: pointer;
}

.pointsSpan {
    display: inline;
    font-family: Roboto;
    font-size: 18px;
    opacity: 0.7;
    padding-right: 8px;
    width: 100%;
    height: 100%;
}

.pointsLabel {
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
    padding-right: 12px;
    padding-left: 12px;
    width:auto;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    border-radius: 10px;
    background-color:#12343B;
    opacity: 0.7;
}

.catagory{ 
    display: block;
    font-family: Roboto;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.catagoryLabel {
    background: #8f30d7;
    padding: 3px 12px;
    border-radius: 19px;
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.catagoryLabel:hover {
    cursor: pointer;
}

.tabListBtn {
    display: inline;
    font-size: 17px;
    padding: 3px 12px;
    border: none;
    background-color: #0B001E;
    color: #FFFFFF;
    opacity: 0.7;
    cursor: pointer;
}
/* 
.tabListBtn:hover {
    cursor: pointer;
    background: #8f30d7;
    padding: 3px 12px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    border: none;
} */

.tabListBtn:focus {
    /*border-bottom: 3px solid #8f30d7;*/
    box-shadow: -6px 10px 0px -7px #8f30d7, 6px 10px 0px -7px #8f30d7;
    padding: 3px 12px;
    border: none;
    outline:none;
}

.descriptionTextEditor{
    top:10px;
    position:relative;
    width: 613px;
    height: 70px;
    border: none;
    background: #251A37;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: top;
    color: #AFAFAF;
    padding-left: 8px;
    padding-top: 8px;
    resize: none;
}

.descriptionTextEditor:hover, .descriptionTextEditor:focus
{
    border: 1px solid rgb(153, 153, 153);
    outline: none;
}

.seperatorTitle
{
    position: relative;
    width: 100%;
    top: 88px;  
    right: 4px;
    background-color: #FFFFFF;
    border-radius: 70px;
    opacity: 0.3;
    z-index: 0;
}

.userInfo
{
    position: relative;
    margin-left: 334px;
    bottom: 240px;
}

.userTitle
{
    position: relative;
    display: inline;
}

.userSocial
{
    position: relative;
    top: 14px;
}

.addFriendsButton{
    border:none;
    position: relative;
    text-align:right;
    height: 38px;
    width: 120px;
    background: #3C096C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background-image: url("../../assets/person.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
    margin-right: 20px;
}

.addFriendsButton:hover
{
    cursor:pointer;
    color: #E2DAE9;
    background-color: #5B10A3;
    border: none;
    outline: none;
}

.addFriendsButton:focus
{
    outline: none;
}

.addFavoritesButton{
    border:none;
    position: relative;
    text-align:right;
    height: 38px;
    width: 110px;
    background: #3C096C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background-image: url("../../assets/favorites.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
}

.addFavoritesButton:hover
{
    cursor:pointer;
    color: #E2DAE9;
    background-color: #5B10A3;
    border: none;
    outline: none;
}

.addFavoritesButton:focus
{
    outline: none;
}

.editButton{
    border:none;
    position: relative;
    text-align:right;
    height: 38px;
    width: 80px;
    background: #3C096C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    background-image: url("../../assets/edit.svg");
    background-repeat: no-repeat;
    opacity: 0.7;
}

.editButton:hover
{
    cursor:pointer;
    color: #E2DAE9;
    background-color: #5B10A3;
    border: none;
    outline: none;
}

.editButton:focus
{
    outline: none;
}

.responsiveButtons
{
    position: absolute;;
    right: 12px;
    top: 188px;
}

.userPageSelector
{
    position: relative;
    bottom: 220px;
    margin: auto;
    width: 100%;
}

.seperatorSelector
{
    position: relative;
    width: 100%;
    top: 36px;  
    right: 4px;
    background-color: #FFFFFF;
    border-radius: 70px;
    opacity: 0.3;
    z-index: 0;
}

.relevantContentText
{
    position: relative;
    display: inline;
    left: 45%;
    margin: auto;
}

.relevantContent
{
    position: relative;
    display: inline;
    left: 35%;
    margin: auto;
    text-align: center;
    align-items: center;
    align-content: center;
}

.youtubeLogoLink
{
    position: relative;   
    height: 30px;
    width: 30px;
    top: 10px;   
    left: 10px;
    display: inline-block;
    cursor: pointer;
}

.twitchLogoLink
{
    position: relative;   
    height: 30px;
    width: 30px;
    top: 10px;   
    left: 10px;
    display: inline-block;
    cursor: pointer;
}

.testMyUl
{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.testMyLi
{
    display: inline;
}

.friendsOuterDisplayContainer
{
    position:relative;
    width: 1200px;
    height: 500px;
    border-width: 5px;
    overflow: scroll;
}

.friendsInnerDisplayContainer
{
    position: relative;
    float:left;
    height:100%;
    margin: 20px;
}

.followersOuterDisplayContainer
{
    position:relative;
    width: 1200px;
    height: 500px;
    border-width: 5px;
    overflow: scroll;
}

.followersInnerDisplayContainer
{
    position: relative;
    float:left;
    height:100%;
    margin: 20px;
}