.liveFeedBar{
    display:inline;
    position:relative;
    width: 1240px;
    height: 500px;
    left: 28px;
    white-space: nowrap;
    overflow: hidden;
}

.liveFeedContainer{
    display:inline-block;
    padding-right: 10px;
    width:426px;
    height:368px;
    cursor: pointer;
    overflow: hidden;
}