.previewBox{

    margin-bottom:100;
    width:362px;
    height:330px;
    cursor: pointer;
}    

.descriptionDiv{
    width:362px;
}

.label{
    position:relative;
    display: block;
    top:-15px;

}

.label{
    display: inline-block;
    padding-top:2px;
    padding-bottom:2px;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    width:auto;
    border:2px;
    border-color: black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;


    background-color:#5c5655;
}

.previewTitle{
    position: relative;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: bolder;
    font-size: 18px;
    line-height: 14px;
    padding-left: 0px;
}

.streamers{
    position: relative;
    display: block;
    transform: scale(0.7);
    -webkit-transform-origin-y: 0;
    -webkit-transform-origin-x: 0;
}

.UserPreviewBox{
    display:inline-block;
    margin-bottom:0px;
    width:600px;
    height:200px;
    cursor: pointer;
    vertical-align: top;
}    

.UserTitle{
    margin-top:0px;
    margin-bottom:0px;
    bottom:0px;
    display:inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.NumFollowers{
    top:0px;
    margin-top:-20px;
    display:relative;
    vertical-align: top;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.UserName{
    margin-top:0px;
    display:inline-block;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
}

.ShortDescription{
    top:0px;
    margin-top:-20px;
    display:relative;
    vertical-align: top;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
}


.UserButtons{
    top:0px;
    display:inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.streamerCircle
{
    display:inline-block;
    margin-right: 30px;
    width: 120px;
    height: 120px; 
    border-radius: 60px;
}