.createStreamBox{
    position:relative;
    width: 689px;
    height: 1100px;
    background-color:#10002B;
}
.createStreamForm
{
    margin-left: 38px;
}

.titleLine{
    height: 0px;
    color: #F0D6FF;
    border: 1px solid #F0D6FF;
    transform: rotate(180deg);
}

.titleLabel{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: flex-end;
    color: #F0D6FF;
}

.fieldLabel{
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    color: #F0D6FF;
    margin-top: 10px;
}

.fieldText{
    position: relative;
    top:10px;
    width: 613px;
    height: 38px;
    border:none;
    background: #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    padding-left: 10px;
    color: #AFAFAF;
}

.fieldText:focus
{
    box-shadow: 0px 1px 4px #AFAFAF;
    outline-width: 0ch;
}

.descriptionText{
    top:10px;
    position:relative;
    width: 613px;
    height: 120px;
    background: #EFEFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    text-align: top;
    color: #AFAFAF;
    padding-left: 8px;
    padding-top: 8px;
}

.descriptionText:focus
{
    box-shadow: 0px 1px 4px #AFAFAF;
    outline-width: 0ch;
}

.checkbox
{
    position: relative;
    border:2px;
    left:5px;
    top:1px;
    background-color:#10002B;
    width: 24px;
    height: 24px;
    display:inline-block;
    position: relative;
    cursor:pointer;
}

.checkboxDiv{
    top:30px;
    position: relative;
    display: block;
    text-align:inline;
    margin-bottom:20px;
}

.fieldDiv{
    display: block;
    position:relative;
    top:15px;
}

.participants{
    position:relative;
    top:40px;
    height: 520px;
}

.submitButton{
    position:absolute;
    display:block;
    border:none;
    position: relative;
    height: 38px;
    width:100px;
    left:513px;
    bottom: 0px;
    background: #8D31D8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    color: #F0D6FF;
    cursor:pointer;
}

.teamDiv
{
    position: relative;
    display: block;
    text-align:inline-block;
    width:100%
}
.removeTeamButton{
    border:none;
    left: 600px;
    bottom:30px;
    width:20px;
    height:10px;
    position: relative;
    display:inline-block;
    cursor:pointer;
    border-radius:2px;
}

.removeTeamButton:hover
{
    color: #8D31D8;
    background-color: #8D31D8;
}


.addTeamButton{
    border:none;
    mask-image: url("../../assets/add-team.svg");
    position: relative;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 100%;
    height: 30px;
    width:30px;
    left:8px;
    top:8px;
    top:0px;
    cursor:pointer;
}

.addTeamButton:hover
{
    color: #8D31D8;
    background-color: #8D31D8;
}

.addTeamDiv{
    position:relative;
    height: 80px;
    top: 3px;
}